.section {
    background: rgba(0, 0, 0, 0.8);
    padding: 40px 20px;
    margin-top: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.6);
    text-align: center;
}

h2 {
    color: #fff;
    font-size: 32px;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1s ease-out;
}
p {
    text-align: center;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    transition: transform 0.3s ease;
}
.skills-photo {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 20px auto;
    display: block;
    transition: transform 0.3s ease;
}

.profile-photo:hover {
    transform: scale(1.1);
}

.skills {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 40px;
}

.skills .skill {
    text-align: center;
    color: #fff;
}

.skills .skill i {
    font-size: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease;
}

.skills .skill i:hover {
    transform: scale(1.2);
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
